DEVELOPMENT_TEAM =
CODE_SIGN_IDENTITY =
CODE_SIGN_STYLE = Manual
CODE_SIGNING_REQUIRED = NO

HEADER_SEARCH_PATHS = $(inherited) includes/**

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks @loader_path/../Frameworks @executable_path/../Frameworks

PRODUCT_BUNDLE_IDENTIFIER = com.krzyzanowskim.${PRODUCT_NAME:rfc1034identifier}

OTHER_SWIFT_FLAGS = $(inherited) -Xfrontend -debug-time-function-bodies

// Disable for tests. https://twitter.com/krzyzanowskim/status/1191515868401983489
BUILD_LIBRARY_FOR_DISTRIBUTION = NO

MACOSX_DEPLOYMENT_TARGET = 10.15

INFOPLIST_FILE = Info.plist
